# Configurações da API
API_PORTA=8000
API_AMBIENTE=desenvolvimento

# Banco de Dados (SQLite local)
DATABASE_URL=sqlite:///./centro_comando.db

# Integração Zabbix
ZABBIX_URL=http://zabbix.suaempresa.local/api_jsonrpc.php
ZABBIX_USER=usuario_api_exemplo
ZABBIX_PASSWORD=senha_api_exemplo

# Motor de Impressão
PORTA_IMPRESSAO_PADRAO=9100